# Ignore API key files
ref/gspread_API_key.txt
ref/tmdb_API_key.txt
ref/gemini_API_key.txt

# Ignore service account files
ref/service_account.json

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment directories
venv/
env/

# Ignore system files
.DS_Store
Thumbs.db
src/ai/__pycache__/summary.cpython-39.pyc
src/tmdb/__pycache__/scraper.cpython-39.pyc
src/__pycache__/api_config.cpython-39.pyc
src/ai/__pycache__/summary.cpython-39.pyc

src/tmdb/__pycache__/scraper.cpython-39.pyc
src/tmdb/__pycache__/utils.cpython-39.pyc
src/ai/__pycache__/summary.cpython-39.pyc
